flows.json
[{"id":"5d2b270b.b9e168","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7be29ab8.bd0684","type":"ui_form","z":"5d2b270b.b9e168","name":"","label":"","group":"fcd28ed9.d0246","order":4,"width":0,"height":0,"options":[{"label":"write here","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":80,"y":100,"wires":[["e9623456.9b08b8"]]},{"id":"aa5bdb57.2edb78","type":"watson-conversation-v1","z":"5d2b270b.b9e168","name":"","workspaceid":"0c08af3a-7a2a-4727-9657-9b1882dee071","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/9c2f3bad-bbeb-4c95-9d0e-25775a052851","timeout":"","optout-learning":false,"x":330,"y":60,"wires":[["2b874329.e4e20c","133965e3.8ae9ca"]]},{"id":"e9623456.9b08b8","type":"function","z":"5d2b270b.b9e168","name":"","func":"msg.payload = msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":160,"wires":[["aa5bdb57.2edb78","24efa96b.618216"]]},{"id":"133965e3.8ae9ca","type":"function","z":"5d2b270b.b9e168","name":"","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":140,"wires":[["b7d3d926.2d0368"]]},{"id":"2b874329.e4e20c","type":"debug","z":"5d2b270b.b9e168","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":40,"wires":[]},{"id":"24efa96b.618216","type":"ui_text","z":"5d2b270b.b9e168","group":"fcd28ed9.d0246","order":1,"width":0,"height":0,"name":"","label":"Custumer","format":"{{msg.payload}}","layout":"row-left","x":340,"y":240,"wires":[]},{"id":"b7d3d926.2d0368","type":"ui_text","z":"5d2b270b.b9e168","group":"8ff1b50f.da35a8","order":2,"width":"6","height":8,"name":"","label":"Bot Response","format":"{{msg.payload}}","layout":"row-left","x":660,"y":160,"wires":[]},{"id":"fcd28ed9.d0246","type":"ui_group","name":"","tab":"d421b9f.660d648","order":2,"disp":true,"width":"6","collapse":false},{"id":"8ff1b50f.da35a8","type":"ui_group","name":"PANDSTORE                                         ","tab":"d421b9f.660d648","order":3,"disp":true,"width":"6","collapse":false},{"id":"d421b9f.660d648","type":"ui_tab","name":"Talk to PANDSTORE ","icon":"PANDSTORE for online shop","disabled":false,"hidden":false}]